header{
    background-image: url("../assets/walkies.gif");
}
table{
    margin: auto;
    border-collapse: collapse;
}
table a{
    text-decoration: none;
}
table a:hover{
    text-decoration: underline;
}
table, td, th, tr{
    border:solid black 1px;
}
td{
    padding: .25em;
    padding-left: .5em;
    padding-right: .5em;
}
td:nth-child(2){
    text-align: right;
}
