body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: lightblue;
}

header, nav, section, main {
    background-color:lightcyan;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    max-width: 70em;
}

header, nav, footer {
    text-align: center;
}

header {
    background-color: lightcyan;
    background-image: url("assets/banner.gif");
    background-position: center bottom;
}

main {
    background-color: lightblue;
    margin: auto;
    padding: 0%;
    max-width: 72em;
}

footer {
    position: fixed;
    bottom: 0;
}