<header>
    <div>
        <h1>
            {% if page.alt-header %}
            {{ page.alt-header }}
            {% else %}
            soapie's space
            {% endif %}
        </h1>
        <nav>
            <a href="/">home</a> |
            <a href="/contact">contact</a> |
            <a href="/friends">friends</a> |
            <a href="{{ site.github }}">github</a>
        </nav>
    </div>
    <img src="/assets/me.jpg" alt="a side profile of me, a white fem with brown eyes and long brown hair in warm lighting. I'm wearing a blue hoodie and have my hair up in a ponytail. drawn by my lovely partner.">
</header>